
bin/
obj/
packages/

# Visual Studio Code
.vscode/

# Visual Studio
*.suo
*.user
*.sln.docstates
*.userprefs
*.vs/
*.vssscc
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.obj
*.lib
*.sbr
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.VC.opendb
*.psess
*.suo
*.user
*.userosscache
*.sln.docstates
*.pdb